/**************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap');

*{
	padding: 0px;
	margin: 0px;
	box-sizing: boder-box;
	font-family: 'Montserrat', sans-serif;
}


a{
	text-decoration: none;
}


ul li{
	list-style: none;
}

.header{
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
    left: 0;
	width: 100%;
	height: 60px;
	z-index: 100;
}


.header_left img{
	width: 110px;
	margin-left: 50px;
	margin-top: 10px;
}

.header_right{
   margin-right: 50px;
}

.header_right ul{
	display: flex;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}


.header_right ul li{
    /*background-color:transparent;*/
    border-radius: 10px;
	transition: .3s;
}

.header_right ul li:hover{
	background-color:rgba(0, 0, 0, 0.1);
}

.header_right ul li a{
	color: #cfd5df;
	margin: 0px 8px;
	padding: 6px 8px;
	font-size: 14px;
	font-weight: 600;
	display: block;
}

/* header end */

/*******************************************************************************************/

.section{
	width: 90%;
	height:100vh;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 7;
    border: 1px solid black;
    margin: 2rem auto;
    border-radius: 1%;
    /* margin-left: auto; */
}



.section_1 {
	background-image: url(/images/pexels-pixabay-54455.jpg);
	position: relative;
    margin-top:10px;
}
.section_2{
	background-color: #404955;
	/* object-fit: cover; */
	/* background-image: url(https://images.pexels.com/photos/10518461/pexels-photo-10518461.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load); */
}
.section_3 {
	/* background-image: url(https://thatanjan.github.io/tesla-clone-yt/media/2.avif); */
	position: relative;
}



/* .text_box{
	width: 100%;
	margin-top: 50px;
	text-align: center;
} */

.heading{
	font-weight:600;
	font-size: 40px;
	color: #000205;
	margin-top: 100px;
	font-size: 50px;
    color: #fff;
	text-align: center;
    font-weight: 600;
    transition: 0.5s;
}
.heading:hover{
	-webkit-text-stroke: 2px rgb(226, 238, 224);
    color: transparent;
}
.heding{
	font-weight:600;
	font-size: 40px;
	color: #eaeef3;
	padding: 0%;
	top:0;
	text-align: center;

}
.heding:hover{
	-webkit-text-stroke: 2px rgb(226, 238, 224);
    color: transparent;
}

/************************footer********************************/

.info{
	text-align: center;
	margin:2%;
	color: #ebf1f1;
	font-size: 30px;
	cursor: pointer;
}
.cards{
	display: grid;
	max-width: 1200px;
	margin: 0.1rem auto;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-gap: 0.75rem;
	/* background-color: blue; */
}
.card{
	background-color: rgb(85, 86, 87);
	color: white;
	padding: 0.15rem;
	/* margin: 10rem auto; */
	height: 25rem;
	border-radius: 0.25rem;
	transition: transform 0.3s ease-in-out;
}
.card:hover{
	transform: translateY(-0.5rem)
}
.card-img{
	width: 100%;
	height: 15rem;
	overflow: hidden;
	position: relative;
	border-radius: 0.25rem;
}
.card-img img {
	width: 100%;
	height: 90%;
	display: block;
	object-fit: cover;
	object-position: center;
  }


.card-img figcaption {
	background-color: rgb(58, 50, 50);
	color: rgb(240, 232, 232);
	text-align: center;
	padding: 1rem;
	width: 100%;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
  }
  .card-img figcaption:hover{
	box-shadow: 0 0 10px 0 #f1f7f6 inset, 0 0 20px 2px #828383;
	border: 1px solid #ebf1f1;

  }


.card-title {
	text-transform: capitalize;
	margin: 0.5rem 0;

  }
.button-1{
	
	box-sizing: border-box;
	padding:12px;
	margin-right: 15px;
	background-color: transparent;
	border: 3px solid #0f0f0f;
	border-radius: 50px;
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	color: #ece3e3;
	
  }
.button-1:hover {
	box-shadow: 0 0 9px 0 #011815 inset, 0 0 5px 1px #ecf7f6;
	border: 3px solid #0a0c0c;
  }
.button-1 a{
	text-align: center;
	justify-content: center;
	size: 15px;
	margin: 5% auto;
	justify-items: center;
	color: #f3f1f5;
	font-weight: 100px;
	font-size: 15px;
	font-style: italic;
} 
.button-1 a:hover{
	color: #a1b917;
}

.footer {
	position: absolute;
	z-index: 100;
	bottom: 0;
	width: 100%;
}



/* responsive */

@media screen and (max-width: 1200px) {
	.header_mid{
		display: none;
	}

	.hide_manu{
		display: none;
	}

	.header_right ul li{
	background-color:rgba(0, 0, 0, 0.1);
}
}

@media screen and (max-width: 600px) {
	
	.btn_box{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:0px 20px;
	box-sizing: border-box;
}

.btn_box button{
	width:100%;
	margin: 10px;
}

}

@media (min-width: 900px) {
	.cards { grid-template-columns: repeat(3, 1fr); }
  }
